*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner{
    background-image: url('../images/banner/banner2.png');

    background-size: cover;
    background-position: center;
    background-color: lightgrey;
    height: 100%;
   
}

.banner-title{
    padding-right: 25px;
    text-align: right;
    font-weight: 800;
}
.banner-paragraph{
    padding-right: 25px;
    text-align: right;
    color: rgb(34, 30, 30);
}
.button-1



/* previous-year-failure */

.previous-year{
    display: flex;
    gap: 24px;
    width: 80%;
}
.previous-year-failure{
    margin-top: 80px;
    align-items: center;
    margin-left: 15%;
}
h2{
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 28px;

}
.failure-paragraph{
    color: rgb(34, 30, 30);
}
.failure-paragraph1{
    padding-top: 25px;
    color: rgb(34, 30, 30);
}
 /* My Plan section  */
 h1{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;


 }
 .skill-container{
    display: flex;
    gap: 24px;
    align-items: center;
    margin-left: 15%;
 }
 .skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;}

.skill-title{   
    font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description{
    color: rgb(34, 30, 30); ;
}
/* mindset section  */
.mindset-title{
    background-image: url('../images/gradient2.png');
    background-repeat: no-repeat;
    background-position: center;
}
.btn-secondery{
    color: #fd2f0a; 
    font-size: 18px;
    font-weight: 700;
    border: 0;
    padding: 12px 30px;
    height: 56px;
    border-radius: 5px;
    background: #FFFFFF;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 150px;
}
h3{
    margin-left: 15%;
    padding-top: 35px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 35px;
}
/* footer  */

.section-title{
    margin-top: 30px;
    display: flex;
    gap: 100px;
    background-color: rgb(20, 19, 19);
    padding: 100px 200px;
}
.future{
    font-weight: 700px;
    color: #FFFFFF;
    text-align: start;
}
.para2{
    color: #FFFFFF;
   margin-bottom: 10px ;
}
h4{
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}
.section-title input{
    width: 100%;
    margin-bottom: 24px;
    margin-top: 20px;
    padding: 15px 28px;
    border-radius: 5px;
}
button{
    width: 70%;
    margin-bottom: 24px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: bisque;
    color: brown;
    font-size: 18px;
    font-weight: bold;
}